<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    {% block css %}{% endblock %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
{#            <div class="navbar-header">#}
{#                <a class="navbar-brand" href="{% url 'index' %}">#}
{#                    <img alt="Brand" style="height: 30px; width: 30px" class="img-responsive" src="{% static 'img/s5_logo.png' %}">#}
{#                </a>#}
{#            </div>#}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% if request.path == url('request_manager') %}class="active"{% endif %}><a href="{{ url('request_manager') }}">Менеджер запросов</a></li>
                    <li {% if request.path == url('accessories') %}class="active"{% endif %}><a href="{{ url('accessories') }}">Аксессуары</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
</body>
</html>